{%- for tag in product.tags -%}
  {%- if tag contains '__tab1' -%}
    {%- assign first_custom_page_slug = tag | split: ':' | last -%}
    {%- assign first_custom_page = pages[first_custom_page_slug] -%}

    {%- assign unique_tab_1_title = first_custom_page.title -%}
    {%- assign has_unique_tab_1 = true -%}
  {%- endif -%}

  {%- if tag contains '__tab2' -%}
    {%- assign second_custom_page_slug = tag | split: ':' | last -%}
    {%- assign second_custom_page = pages[second_custom_page_slug] -%}

    {%- assign unique_tab_2_title = second_custom_page.title -%}
    {%- assign has_unique_tab_2 = true -%}
  {%- endif -%}

  {%- if tag contains '__tab3' -%}
    {%- assign third_custom_page_slug = tag | split: ':' | last -%}
    {%- assign third_custom_page = pages[third_custom_page_slug] -%}

    {%- assign unique_tab_3_title = third_custom_page.title -%}
    {%- assign has_unique_tab_3 = true -%}
  {%- endif -%}

  {%- if tag contains '__tab4' -%}
    {%- assign fourth_custom_page_slug = tag | split: ':' | last -%}
    {%- assign fourth_custom_page = pages[fourth_custom_page_slug] -%}

    {%- assign unique_tab_4_title = fourth_custom_page.title -%}
    {%- assign has_unique_tab_4 = true -%}
  {%- endif -%}
{%- endfor -%}

<div class="ProductMeta">
  {%- if section.settings.show_vendor and product.vendor != blank -%}
    <h2 class="ProductMeta__Vendor Heading u-h6">
      {%- assign vendor_handle = product.vendor | handle -%}
      {%- assign collection_for_vendor = collections[vendor_handle] -%}

      {%- unless collection_for_vendor.empty? -%}
        <a href="{{ collection_for_vendor.url }}">{{ product.vendor }}</a>
      {%- else -%}
        {{- product.vendor -}}
      {%- endunless -%}
    </h2>
  {%- endif -%}

  <h1 class="ProductMeta__Title Heading u-h2">
    {%- if template.name == 'product' -%}
      {{- product.title -}}
    {%- else -%}
      <a href="{{ product.url }}">{{ product.title }}</a>
    {%- endif -%}
  </h1>

  {%- if section.settings.show_sku and product.selected_or_first_available_variant.sku != blank -%}
    <p class="ProductMeta__Sku Heading Text--subdued u-h6">{{ 'product.form.sku' | t }}: <span class="ProductMeta__SkuNumber">{{ product.selected_or_first_available_variant.sku }}</span></p>
  {%- endif -%}

  {%- if product.template_suffix != 'coming-soon' -%}
    <div class="ProductMeta__PriceList Heading">
      {%- if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price -%}
        <span class="ProductMeta__Price Price Price--highlight Text--subdued u-h4">{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}</span>
        <span class="ProductMeta__Price Price Price--compareAt Text--subdued u-h4">{{ product.selected_or_first_available_variant.compare_at_price | money_without_trailing_zeros }}</span>
      {%- else -%}
        <span class="ProductMeta__Price Price Text--subdued u-h4">{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}</span>
      {%- endif -%}
      <a href="#ProductReviews-{{ product.id }}" data-offset="50" class="ProductReviewBadge">
        {%- comment -%}<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>{%- endcomment -%}
        <div class="yotpo bottomLine"
            data-appkey="HsKLx0B4Hb3qIBvX86h8OrcQfDAbHgv14453St4u"
            data-domain="{{shop.permanent_domain | escape }}"
            data-product-id="{{ product.id }}"
            data-product-models="{{ product.id }}"
            data-name="{{ product.title | escape }}"
            data-url="{{ shop.url }}{{ product.url }}"
            data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
            data-description="{{ product.description | escape }}"
            data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
        </div>
      </a>
    </div>

    <div class="ProductMeta__UnitPriceMeasurement" style="display: {%- if product.selected_or_first_available_variant.unit_price_measurement -%}block{% else %}none{% endif %}">
      <div class="UnitPriceMeasurement Heading u-h6 Text--subdued">
        <span class="UnitPriceMeasurement__Price">{{ product.selected_or_first_available_variant.unit_price | money_without_trailing_zeros }}</span>
        <span class="UnitPriceMeasurement__Separator">/ </span>

        {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
          <span class="UnitPriceMeasurement__ReferenceValue">{{ product.selected_or_first_available_variant.unit_price_measurement.reference_value }}</span>
        {%- endif -%}

        <span class="UnitPriceMeasurement__ReferenceUnit">{{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}</span>
      </div>
    </div>
  {%- endif -%}

  {%- if section.settings.show_taxes_included -%}
    {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
      <p class="ProductMeta__TaxNotice Rte">
        {%- if shop.taxes_included -%}
          {{ 'product.general.include_taxes' | t }}
        {%- endif -%}

        {%- if shop.shipping_policy.body != blank -%}
          {{ 'product.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
        {%- endif -%}
      </p>
    {%- endif -%}
  {%- endif -%}

  {%- if show_description and section.settings.description_below_add_to_cart == false -%}
    <div class="ProductMeta__Description">
      <div class="Rte">
        {%- comment -%}
        We have figured out that some merchants were copy-pasting huge chunk of code into the product description,
        which can make the theme crashes if it contains some special attributes used by the theme. We therefore make sure to process this
        {%- endcomment -%}

        {{ product.description | replace: 'data-section-type', 'data-section-type-placeholder' }}
      </div>

      {%- if section.settings.show_share_buttons -%}
        <div class="ProductMeta__ShareButtons hidden-pocket">
          <span class="ProductMeta__ShareTitle Heading Text--subdued u-h7">{{ 'product.form.share' | t }}</span>

          {%- assign share_url = shop.url | append: product.url -%}
          {%- assign twitter_text = product.title -%}
          {%- assign pinterest_description = product.description | strip_html | truncatewords: 15 | url_param_escape -%}
          {%- assign pinterest_image = product.featured_image | img_url: 'large' | prepend: 'https:' -%}

          <div class="ProductMeta__ShareList Text--subdued">
            <a class="ProductMeta__ShareItem" href="https://www.facebook.com/sharer.php?u={{ share_url }}" target="_blank" rel="noopener" aria-label="Facebook">{%- render 'icon' with 'facebook' -%}</a>
            <a class="ProductMeta__ShareItem" href="https://twitter.com/share?{% if twitter_text != blank %}text={{twitter_text}}&{% endif %}url={{ share_url }}" target="_blank" rel="noopener" aria-label="Twitter">{%- render 'icon' with 'twitter' -%}</a>
            <a class="ProductMeta__ShareItem" href="https://pinterest.com/pin/create/button/?url={{ share_url }}{% if pinterest_image != blank %}&media={{ pinterest_image }}{% endif %}&description={{ pinterest_description }}" target="_blank" rel="noopener" aria-label="Pinterest">{%- render 'icon' with 'pinterest' -%}</a>
          </div>
        </div>
      {%- endif -%}

      <div class="ProductAside__JumpLinks">
        <div class="Rte">
        {%- if has_unique_tab_1 -%}
	      <a href="#{{- first_custom_page_slug -}}" data-offset="50" class="JumpLink Heading u-h6">{{- unique_tab_1_title -}}</a>
        {%- endif -%}
        {%- if has_unique_tab_2 -%}
	      <a href="#{{- second_custom_page_slug -}}" data-offset="50" class="JumpLink  Heading u-h6">{{- unique_tab_2_title -}}</a>
        {%- endif -%}
        {%- if has_unique_tab_3 -%}
	      <a href="#{{- third_custom_page_slug -}}" data-offset="50" class="JumpLink Heading u-h6">{{- unique_tab_3_title -}}</a>
        {%- endif -%}
        {%- if has_unique_tab_4 -%}
	      <a href="#{{- fourth_custom_page_slug -}}" data-offset="50" class="JumpLink Heading u-h6">{{- unique_tab_4_title -}}</a>
        {%- endif -%}
        </div>
      </div>


    </div>
  {%- endif -%}
</div>
