{%- assign first_page = pages[section.settings.tab_page_1_handle] -%}
{%- assign second_page = pages[section.settings.tab_page_2_handle] -%}
{%- assign first_custom_page = '' -%}
{%- assign second_custom_page = '' -%}
{%- assign third_custom_page = '' -%}
{%- assign fourth_custom_page = '' -%}

{%- comment -%}
  We allow to add two tabs that are extracted using the tag system. To add such a tag, simply create a page and
  note the handle somewhere.
  Next, add a tag to your product in this form: __tab1:page-handle or __tab2:page-handle
  The theme will automatically link the tab to the page
{%- endcomment -%}

{%- assign has_unique_tab_1 = false -%}
{%- assign has_unique_tab_2 = false -%}
{%- assign has_unique_tab_3 = false -%}
{%- assign has_unique_tab_4 = false -%}

{%- comment -%}First, check the metafields{%- endcomment -%}

{%- if product.metafields.sf_product_tabs.tab_1_title != blank and product.metafields.sf_product_tabs.tab_1_content != blank -%}
  {%- assign unique_tab_1_title = product.metafields.sf_product_tabs.tab_1_title -%}
  {%- assign unique_tab_1_content = product.metafields.sf_product_tabs.tab_1_content -%}
  {%- assign has_unique_tab_1 = true -%}
{%- endif -%}

{%- if product.metafields.sf_product_tabs.tab_2_title != blank and product.metafields.sf_product_tabs.tab_2_content != blank -%}
  {%- assign unique_tab_2_title = product.metafields.sf_product_tabs.tab_2_title -%}
  {%- assign unique_tab_2_content = product.metafields.sf_product_tabs.tab_2_content -%}
  {%- assign has_unique_tab_2 = true -%}
{%- endif -%}

{%- if product.metafields.sf_product_tabs.tab_3_title != blank and product.metafields.sf_product_tabs.tab_3_content != blank -%}
  {%- assign unique_tab_3_title = product.metafields.sf_product_tabs.tab_3_title -%}
  {%- assign unique_tab_3_content = product.metafields.sf_product_tabs.tab_3_content -%}
  {%- assign has_unique_tab_3 = true -%}
{%- endif -%}

{%- if product.metafields.sf_product_tabs.tab_4_title != blank and product.metafields.sf_product_tabs.tab_4_content != blank -%}
  {%- assign unique_tab_4_title = product.metafields.sf_product_tabs.tab_4_title -%}
  {%- assign unique_tab_4_content = product.metafields.sf_product_tabs.tab_4_content -%}
  {%- assign has_unique_tab_4 = true -%}
{%- endif -%}

{%- comment -%}Then, let's try the tags{%- endcomment -%}

{%- for tag in product.tags -%}
  {%- if tag contains '__tab1' -%}
    {%- assign first_custom_page_slug = tag | split: ':' | last -%}
    {%- assign first_custom_page = pages[first_custom_page_slug] -%}

    {%- assign unique_tab_1_title = first_custom_page.title -%}
    {%- assign unique_tab_1_content = first_custom_page.content -%}
    {%- assign has_unique_tab_1 = true -%}
  {%- endif -%}

  {%- if tag contains '__tab2' -%}
    {%- assign second_custom_page_slug = tag | split: ':' | last -%}
    {%- assign second_custom_page = pages[second_custom_page_slug] -%}

    {%- assign unique_tab_2_title = second_custom_page.title -%}
    {%- assign unique_tab_2_content = second_custom_page.content -%}
    {%- assign has_unique_tab_2 = true -%}
  {%- endif -%}

  {%- if tag contains '__tab3' -%}
    {%- assign third_custom_page_slug = tag | split: ':' | last -%}
    {%- assign third_custom_page = pages[third_custom_page_slug] -%}

    {%- assign unique_tab_3_title = third_custom_page.title -%}
    {%- assign unique_tab_3_content = third_custom_page.content -%}
    {%- assign has_unique_tab_3 = true -%}
  {%- endif -%}

  {%- if tag contains '__tab4' -%}
    {%- assign fourth_custom_page_slug = tag | split: ':' | last -%}
    {%- assign fourth_custom_page = pages[fourth_custom_page_slug] -%}

    {%- assign unique_tab_4_title = fourth_custom_page.title -%}
    {%- assign unique_tab_4_content = fourth_custom_page.content -%}
    {%- assign has_unique_tab_4 = true -%}
  {%- endif -%}
{%- endfor -%}


{%- if first_page.handle != blank or second_page.handle != blank or has_unique_tab_1 or has_unique_tab_2 or has_unique_tab_3 or section.settings.reviews_enabled -%}
  <div class="Product__Tabs">
    {%- if has_unique_tab_1 -%}
      <div id="{{- first_custom_page_slug -}}" data-offset="100" class="Product__Tab">
        <div class="Rte">
          {{- unique_tab_1_content -}}
        </div>
      </div>
    {%- endif -%}

    {%- if has_unique_tab_2 -%}
      <div id="{{- second_custom_page_slug -}}" class="Product__Tab">
        <div class="Rte">
          {{- unique_tab_2_content -}}
        </div>
      </div>
    {%- endif -%}

    {%- if has_unique_tab_3 -%}
      <div id="{{- third_custom_page_slug -}}" class="Product__Tab">
        <div class="Rte">
          {{- unique_tab_3_content -}}
        </div>
      </div>
    {%- endif -%}
    
    {%- if has_unique_tab_4 -%}
      <div id="{{- fourth_custom_page_slug -}}" class="Product__Tab">
        <div class="Rte">
          {{- unique_tab_4_content -}}
        </div>
      </div>
    {%- endif -%}

    {%- if first_page != empty -%}
      <div class="Product__Tab">
        <div class="Rte">
          {{- first_page.content -}}
        </div>
      </div>
    {%- endif -%}

    {%- if second_page != empty -%}
      <div class="Product__Tab">
        <div class="Rte">
          {{- second_page.content -}}
        </div>
      </div>
    {%- endif -%}
    {%- if section.settings.reviews_enabled -%}
      <div id="ProductReviews-{{ product.id }}" class="ProductReviews">
        <h4 class="Heading u-h1">
          {{ 'product.tabs.reviews' | t }}
        </h4>

        <div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}"></div>
      </div>
    {%- endif -%}
  </div>
{%- endif -%}
