.account-forms {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
}

.account-forms section {
  flex: 1;
}

@media (min-width: 769px) {
  .account-forms section:first-child {
    border-right: 1px solid #b7b7b7;
  }
}

@media (max-width: 768px) {
  .account-forms {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
  }  
}


/* --------------- Blog page ------------- */

body.template-blog #section-blog-template header.PageHeader {
  margin-left: -50px;
  margin-right: -50px;
  margin-top: 0px;
}

body.template-blog #section-blog-template .Container {
  overflow: hidden;
}

body.template-blog #section-blog-template header.PageHeader h1 {
  background: black;
  color: #84cdf2;
  padding-bottom: 10px;
  font-family: 'Maison Neue Light';
  font-size: 16px;
}


/* ----------------- Account Pages ---------------- */

.section_header.section-header-banner {
  background: black;
  color: #84cdf2;
  font-size: 16px;
  padding-top: 0px;
  padding-bottom: 10px;
  text-align: center;
}

body.template-customers.template-account main#main {
  padding-bottom: 50px;
}